{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
<div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %} {%- if messages %}
    <div class="row">
        <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
        </div>
    </div>
    {%- endif %} {%- endwith %}
    <div class="jumbotron">
        <h1>Songbird</h1>
        <p>Record your voice below and then type in an adjective to describe how you'd like your voice to sound</p>
    </div>
    <div class="well col-md-12">
        <h1>Record your voice</h1>
        <div class="btn-group btn-group-lg" role="group">
            <button class="btn btn-lg btn-success" href="/_deletewavs" onclick="startRecording(this);"><span class="glyphicon glyphicon-record" aria-hidden="true"></span>  Record</button>
            <button class="btn btn-lg btn-danger" onclick="stopRecording(this);" disabled><span class="glyphicon glyphicon-stop" aria-hidden="true"></span>  Stop</button>
        </div>
    </div>
    <div class="well col-md-12">
        <h1>Add your effects</h1>
        <div class="form-group col-md-6">
            <label for="eq-input">EQ descriptor:</label>
            <div class="input-group">
                <input type="text" id="eq-input" class="form-control"
                onkeyup="if (event.keyCode == 13) parse(this);" title="eq">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="parse(document.getElementById('eq-input'))">Set</button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="reverb-input">Reverb descriptor:</label>
            <div class="input-group">
                <input type="text" id="reverb-input" class="form-control"
                onkeyup="if (event.keyCode == 13) parse(this);" title="reverb">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="parse(document.getElementById('reverb-input'))">Set</button>
                </span>
            </div>
        </div>
    </div>
    <div class="well col-md-12">
        <h1>Check out the result</h1>
        <div class="btn-group btn-group-lg" role="group">
            <button class="btn btn-lg btn-success"  id="playbutton" onclick="play()" disabled><span class="glyphicon glyphicon-play" aria-hidden="true"></span>  Play</button>
            <button class="btn btn-lg btn-danger" id="stopbutton" onclick="stop()" disabled><span class="glyphicon glyphicon-stop" aria-hidden="true"></span>  Stop</button>
        </div>
    </div>
    <div class="debug">
        <h2>Recordings</h2>
        <ul class="list-group" id="recordingslist"></ul>
        <h2>Log</h2>
        <pre id="log"></pre>
    </div>
</div>
<script>
    function __log(e, data) {
        log.innerHTML += "\n" + e + " " + (data || '');
    }
    var audio_context;
    var recorder;

    function startUserMedia(stream) {
        var input = audio_context.createMediaStreamSource(stream);
        __log('Media stream created.');
        // Uncomment if you want the audio to feedback directly
        //input.connect(audio_context.destination);
        //__log('Input connected to audio context destination.');

        recorder = new Recorder(input);
        __log('Recorder initialised.');
    }

    function startRecording(button) {
        recorder && recorder.record();
        button.disabled = true;
        button.nextElementSibling.disabled = false;
        __log('Recording...');
    }

    function stopRecording(button) {
        recorder && recorder.stop();
        button.disabled = true;
        button.previousElementSibling.disabled = false;
        __log('Stopped recording.');

        // create WAV download link using audio data blob
        createDownloadLink();

        recorder.clear();
    }

    window.onbeforeunload = function () {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", '/_deletewavs', false ); // false for synchronous request
        xmlHttp.send( null );
    }

    function createDownloadLink() {
        recorder && recorder.exportWAV(function (blob) {
            var filename = new Date().toISOString() + '.wav';
            var file = new File([blob], filename);
            var url = (window.URL || window.webkitURL).createObjectURL(blob);
            var form = new FormData();
            form.append('file', file, filename);
            $.ajax({
                type: 'POST',
                url: '/_uploadandsongify',
                data: form,
                contentType: false,
                cache: false,
                processData: false,
                async: false,
                success: function(data) {
                    url = data;
                    startAudealize([url]);
                    var li = document.createElement('li');
                    li.className = 'list-group-item';
                    var au = document.createElement('audio');
                    var source = document.createElement('source');

                    source.src = url;
                    source.type = 'audio/wav'
                    au.controls = true;
                    au.appendChild(source);

                    li.appendChild(au);

                    recordingslist.appendChild(li);
                    document.getElementById('playbutton').disabled = false;
                    document.getElementById('stopbutton').disabled = false;
                }
            })
        });
    }
    window.onload = function init() {
        try {
            // webkit shim
            window.AudioContext = window.AudioContext || window.webkitAudioContext;
            navigator.getUserMedia = ( navigator.getUserMedia ||
                       navigator.webkitGetUserMedia ||
                       navigator.mozGetUserMedia ||
                       navigator.msGetUserMedia);
            window.URL = window.URL || window.webkitURL;

            audio_context = new AudioContext;
            __log('Audio context set up.');
            __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
        } catch (e) {
            alert('No web audio support in this browser!');
        }

        navigator.getUserMedia({
            audio: true
        }, startUserMedia, function (e) {
            __log('No live audio input: ' + e);
        });
    };
</script>
<script src="../static/recorder.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../static/js/audealize.min.js"></script>
<script src="../static/js/main.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock %}